<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/contact_style.css" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Visual Business Cards - Contact</title>
</head>

<body>
    <div class="container">
        <div class="menuBar">
            <p>INROOM PREVIEW</p>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i>Home</a> </li>
                <li> <a href="#"><i class="fas fa-shoe-prints"></i>How it Works </a></li>
                <li> <a href="#"><i class="fas fa-user-plus"></i>Join us </a>
                    <div class="dropDown">
                        <ul>
                            <li> <a href="#">Sign Up</a></li>
                            <li> <a href="#">Log In</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="#"><i class="fas fa-address-card"></i>About us </a></li>
                <li> <a href="#"> <i class="fas fa-phone-alt"></i>Contact</a></li>
                <li> <a href="#"> <i class="fas fa-paint-brush"></i>Create now </a></li>
            </ul>
        </div>


        <div class="message">
            <img src="../Img/pexels-ylanite-koppens-796602_1.jpg" alt="contact" id="contact">

            <div class="jumbotron">
                <div class="jumbotron-inner">
                    <h2>Contact Us</h2>
                    <br>
                    <p>Feel free to get in touch with us for further collaboration.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card1">
                <img src="../Img/message.jpg" alt="message" class="imgs">
                <h3>Most asked questions</h3>
                <br>
                <p>Everything you need to know about us is here.</p>
                <br>
                <button class="btn">Learn More</button>
            </div>
            <div class="card2">
                <img src="../Img/email.png" alt="message" class="imgs">
                <h3>Drop us a line</h3>
                <br>
                <p>You can email us anytime, for any assistance or questions.</p>
                <br>
                <button class="btn"><a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNrcrrTmPqsBLMcPvjrbWlZVFJzcMkZGFKfLPKdQDrPFkGXsdpWRhgVDgDHVgzQZbBxPSV">Go
                        to Mail</a>
                </button>
            </div>
            <div class="card3">
                <img src="../Img/phone.png" alt="message" class="imgs">
                <h3>Dial Us</h3>
                <br>
                <p>You can reach us at working hours.</p>
                <p>Cell phone: +38977548251</p>
                <br>
                <button class="btn">Working Hours</button>
            </div>
            <div class="card4">
                <img src="../Img/piece.jpg" alt="message" class="imgs">
                <h3>Social Media</h3>
                <p><i class="fab fa-instagram"><a class="icons" href="https://www.instagram.com/inroompreview/"> Instagram</a></i></p>
                <p><i class="fab fa-facebook-f"><a class="icons" href="https://www.facebook.com/inroompreview/"> Facebook</a></i></p>
                <p><i class="fab fa-linkedin-in"><a class="icons" href="https://www.linkedin.com/company/inroompreview/about/"> Linkedin</a></i></p>
                <br>
                <button class="btn">Visit us</button>
            </div>
        </div>
        <div class="footer"></div>
    </div>



</body>

</html>