*{
    padding: 0;
    margin: 0; 
}

body {
    
    /* background-image: url(https://cdn.hipwallpaper.com/i/45/23/WKbQMt.jpg); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* box-sizing: border-box; */
    font-family: fantasy;
}

.menuBar {
    background-color: rgba(255, 255, 255, 0.753);
    text-align: right;
    /* overflow: hidden; */
    position: fixed;
    width: 100%; 
}


.menuBar ul {
    display: inline-flex;
    list-style: none;
    color: black; 
}

.menuBar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
    text-align: center;  
}

.menuBar ul li a {
    text-decoration: none;
    color: black;
}

.menuBar ul li:hover {
    background-color: rgba(23, 23, 170, 0.377);
    border-radius: 15px; 
}

.menuBar .fas {
    margin-right: 8px;
}

.dropDown{
    display: none;
} 

.menuBar ul li:hover .dropDown {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.835);
    margin-top: 15px;
    border-radius: 15px; 
}

.menuBar ul li:hover .dropDown ul {
    display: block;
    margin: 10px;
}

.menuBar ul li:hover .dropDown ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    text-align: left;
}

.menuBar p {
    display: flex;
    justify-self: left;
    font-size: xx-large;
    position: relative;
    top: 40px;
    left: 160px;
}

#firstImage{
    /* width: 1920px; */
    
    height: 800px;  
}

.description  {   
    color: rgb(212, 186, 39);
    font-size: xx-large;
    font-family: cursive;
    width: max-content;
    position: absolute;
    bottom: 300px;
    left: 200px;
}
.title {
    float: left;
}

.card {
    margin: 0 auto;
    margin-top: -200px;
    background-color: rgb(210, 255, 210);
    display: flex;
    justify-content: space-around;
    text-align: center;
    justify-content: space-between;
    flex: 2;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 5px dotted rgb(45, 105, 45);
    box-shadow: 10px 10px 10px;

}

.card > div {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 70%;
    border-radius: 30px;
    box-shadow: 10px 10px 10px;
}

.card > div:hover {
    width: 21%;
    background-color: whitesmoke;
}

#contact {
    width: 100%;
    z-index: -1;
    position: relative;
}

.jumbotron {
    position: relative;
    bottom: 420px;
    left: 200px;
    font-size: 30px;
    color: rgb(45, 105, 45);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.816);
}

.imgs {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.icons {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 5px;
    background-color: rgba(0, 93, 0, 0.442);
    border-radius: 10px;
    font-weight: bold;
}

.card  p {
    text-shadow: 1px 1px rgba(21, 110, 39, 0.517);
}