*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 /* ===========================   NAV BAR    ============================== */

.header {
    min-height: 150vh;
    width: 100%;
    background-image: linear-gradient(rgba(59, 14, 14, 0.795),rgba(228, 228, 228, 0.842)), url(../Images/create.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 6% ;
    justify-content: space-between;
    align-items: center;
}


.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.726);
    
}
#logo{
    width: 250px;
    float: left;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.726);
}


.nav-links ul li a:hover{
    color: rgba(245, 245, 245, 0.534);
}

.text-box{
    width: 90%;
    color: rgba(255, 255, 255, 0.795);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.726);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.title {
    font-size: 62px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.726);


}
.text-box p{
    margin: 25px 0 40px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.795);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.726);
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 5px dotted rgba(255, 255, 255, 0.548);
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover{
    border: 5px solid rgba(245, 245, 245, 0.692);
    background: rgba(245, 245, 245, 0.281);
    transition: 1s;
}
nav .fas {
    display: none;
}


@media(max-width:1200px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
        padding: 10px;
    }
    .nav-links{
        position: absolute;
        right:-201px;
        background: linear-gradient(rgba(54, 9, 9, 0.705), rgba(163, 146, 99, 0.596)), url(../Images/create-menu.jpg);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -500;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas {
        display: block;
        color: whitesmoke;
        margin:  10px;
        font-size: 20px;
        cursor: pointer;
    }
    
    .nav-links ul{
        margin: 20px;
    }
}

 /* ===========================   EDITOR   ============================== */


.editor{
    width: 100%;
    height: max-content;
    margin: 5% auto;
   /* background: linear-gradient(rgba(221, 216, 216, 0.418), rgba(71, 40, 40, 0.329));  */
}

.box {
    width: 26%;
    height: 900px;
    margin: 2% auto;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.151);
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
}

.menu{
    width: max-content;
    height: 100%;
    background: linear-gradient(rgba(68, 5, 5, 0.644), rgba(158, 152, 95, 0.438)), url(../Images/create-menu.jpg);

}


.menu ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.menu ul li {
    color: rgb(255, 255, 255);
    font-weight: 700px;
    text-shadow: 3px 2px rgb(0, 0, 0) ;
    text-decoration: none;
    margin: 35px 5px;
    padding: 20px;
    cursor: pointer;

}

.menu ul li:hover{
    color: rgba(245, 245, 245, 0.37);
}

.fas, .fab{
    margin: 10px;
    font-size: 25px;
}
.menu-options{
  margin: 0 auto;
}
#label{
    color: whitesmoke;
    text-shadow: 1px 2px black;
    font-weight: 400;
    margin: 5px;
}

#templates-select{
    background: linear-gradient(rgba(36, 13, 13, 0.767), rgba(0, 0, 0, 0.466));
    margin: 10px 10px;
    border-radius: 25px;
    color: whitesmoke;
    padding: 10px;
}

option{
    color: black;
}
.information-options{
    display: none;
    /* display: flex; */
    flex-direction: column;
}

.paragraph{
    color: whitesmoke;
    text-shadow: 1px 2px black;
    font-weight: 600;
    margin: 5px;
    font-size: large;
}

.info-option{
    width: 200px;
    margin: 10px auto;
    padding: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0.342), rgba(75, 10, 10, 0.74)), url(../Images/create.jpg);
    border-radius: 9px;
    color: whitesmoke;
    font-weight: 500;
    text-shadow: 1px 2px black;
    font-size: medium;
}

.qr-code{
    display: none;
    color: whitesmoke;
    text-shadow: 1px 2px black;
    font-weight: 400;
    margin: 5px;
    border-radius: 20%;
    padding: 35px;
}

#qr-link{
    padding: 10px;
    width: 250px;
    height: 15px;
    text-align: center;
    border-radius: 20px;
    margin: 5% auto;
}

.template-images{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

 .menu-options{
    height: 900px;
    overflow-y: scroll ;
  }



.template-images img{
    width: 90%;
    height: 90%;
    margin: 5% auto;
}

               /* ======================== SLIDER ==================== */

               .range {
                -webkit-appearance: none;
                -moz-appearance: none;
                position: absolute;
                left: 64%;
                top: 42%;
                width: 250px;
                margin-top: 10px;
                transform: translate(-50%, -50%);
              }
              
              input[type=range]::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                background: rgba(59,173,227,1);
                background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
                background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
                height: 2px;
              }
              
              input[type=range]:focus {
                outline: none;
              }
              
              input[type=range]::-moz-range-track {
                -moz-appearance: none;
                background: rgba(59,173,227,1);
                background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
                background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
                height: 2px;
              }
              
              input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 2px solid;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                max-width: 80px;
                position: relative;
                bottom: 11px;
                background-color: #1d1c25;
                cursor: -webkit-grab;
              
                -webkit-transition: border 1000ms ease;
                transition: border 1000ms ease;
              }
              
              input[type=range]::-moz-range-thumb {
                -moz-appearance: none;
                border: 2px solid;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                max-width: 80px;
                position: relative;
                bottom: 11px;
                background-color: #1d1c25;
                cursor: -moz-grab;
                -moz-transition: border 1000ms ease;
                transition: border 1000ms ease;
              }
              
              
              
              .range.blue::-webkit-slider-thumb {
                 border-color: rgb(59,173,227);
              }
              
              .range.ltpurple::-webkit-slider-thumb {
                 border-color: rgb(87,111,230);
              }
              
              .range.purple::-webkit-slider-thumb {
                 border-color: rgb(152,68,183);
              }
              
              .range.pink::-webkit-slider-thumb {
                 border-color: rgb(255,53,127);
              }
              
              .range.blue::-moz-range-thumb {
                 border-color: rgb(59,173,227);
              }
              
              .range.ltpurple::-moz-range-thumb {
                 border-color: rgb(87,111,230);
              }
              
              .range.purple::-moz-range-thumb {
                 border-color: rgb(152,68,183);
              }
              
              .range.pink::-moz-range-thumb {
                 border-color: rgb(255,53,127);
              }
              
              input[type=range]::-webkit-slider-thumb:active {
                cursor: -webkit-grabbing;
              }
              
              input[type=range]::-moz-range-thumb:active {
                cursor: -moz-grabbing;
              }


                    /* ============= CHECKBOX  ============== */
                    .container {
                        max-width: 640px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 13px;
                    }
                    
                    ul.ks-cboxtags {
                        list-style: none;
                        padding: 20px;
                    }
                    ul.ks-cboxtags li{
                      display: inline;
                    }
                    ul.ks-cboxtags li label{
                        display: inline-block;
                        background-color: whitesmoke;
                        border: 2px solid rgba(139, 139, 139, .3);
                        color: #adadad;
                        border-radius: 25px;
                        white-space: nowrap;
                        margin: 3px 0px;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        -webkit-tap-highlight-color: transparent;
                        transition: all .2s;
                    }
                    
                    ul.ks-cboxtags li label {
                        padding: 8px 12px;
                        cursor: pointer;
                    }
                    
                    ul.ks-cboxtags li label::before {
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 12px;
                        padding: 2px 6px 2px 2px;
                        content: "\f067"; 
                        transition: transform .3s ease-in-out;
                    }
                    
                    ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
                        content: "\f00c";
                        transform: rotate(-360deg);
                        transition: transform .3s ease-in-out;
                    }
                    
                    ul.ks-cboxtags li input[type="checkbox"]:checked + label {
                        border: 2px solid #1bdbf8;
                        background: linear-gradient(rgba(255, 255, 255, 0.342), rgba(75, 10, 10, 0.74)), url(../Images/create.jpg);
                        color: #fff;
                        transition: all .2s;
                    }
                    
                    ul.ks-cboxtags li input[type="checkbox"] {
                      display: absolute;
                    }
                    ul.ks-cboxtags li input[type="checkbox"] {
                      position: absolute;
                      opacity: 0;
                    }
                    ul.ks-cboxtags li input[type="checkbox"]:focus + label {
                      border: 2px solid #e9a1ff;
                    }
#font-select{
    background: linear-gradient(rgba(255, 255, 255, 0.342), rgba(75, 10, 10, 0.74)), url(../Images/create.jpg);
    margin: 10px 10px;
    border-radius: 25px;
    color: whitesmoke;
    padding: 10px 40px;
    text-align: center;
}                    

@media(max-width:1200px){
    .box{
        width: 45%;
    }
}

.contact-link{
    color: whitesmoke;
    font-weight: 500;
    text-shadow: 1px 2px black;
    text-decoration: none;
}
/* =========================== QR CODE ======================= */
.qr-code-options{
display: none;
margin-top: 50px;

}

.qr-code-options p {
    padding: 20px 10px;
}
.qr-code-icons img{
width: 10%;
height: 10%;
}

.create{
    width: 1300px;
    height: 800px;
    background-color: whitesmoke;
    overflow: hidden;
    position: absolute;
    left: 550px;
    top: 320px;
}

.card{
    background: none;
    position: absolute;
    left: 1120px;
    top: 270px;
}



/* ===============================       FOOTER        ================================= */
footer{

    background: rgba(80, 42, 42, 0.452);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: whitesmoke;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.863);
    text-shadow: none;
    font-style: normal;
}

.socialas{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3 rem 0;
}

.socialas li{
    margin: 0 10px;
}

.socialas a{
    text-decoration: none;
    color: rgb(31, 27, 27);
    font-weight: 600;
    text-shadow:  0px 1px thistle;
}
.socialas a i{
    font-size: 1.1rem;
    transition: xolor .4s ease;
}

.socialas a:hover i{
    color: rgb(141, 108, 95);
}

.footer-bottom{
    background: rgba(53, 24, 24, 0.699);
    width: 100%;
    padding-top: 20px 0;
    text-align: center;
    
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: whitesmoke;
    font-style: normal;
    font-weight: 300;
    text-shadow: 0px 2px black;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* ==========================================   TEXT OPTIONS MENU    ================================================== */

.text-Options{
    display: flex;
    justify-content: center;
}

 .choose-font{
     background:rgba(51, 25, 25, 0.349);
     color: whitesmoke;
     font-weight: 600;
     border: 1px rgba(128, 128, 128, 0.514);
     border-radius: 3px;
    margin: 5px 30px ;
    padding: 1px 30px;
    height: 26px;
    margin-top: 7px;
    font-size: large;
    
}

.change-size {
    background:rgba(51, 25, 25, 0.349);   
     color: whitesmoke;
     font-weight: 600;
     border: 1px rgba(128, 128, 128, 0.514);
     border-radius: 3px;
    margin:  3px ;
    padding: 0 15px;
    height: 23px;
    margin-top: 9px;
    font-size: large;
}

.size-value {
    width: 40px;
    height: 25px;
    margin-top: 6px;
}

.text-Options .fas {
    color: whitesmoke;
    margin: 5px 30px;
}

/* #textarea-div {
    background: yellow;
    position: absolute;
    z-index: 9;
    text-align: center;
    top: 250px;
    left: 500px;
    width: 300px;
    height: 200px;
} */

#textarea-div2 {
    width: 1300px;
    height: 1000px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius:7px ;
    touch-action: none;
    /* padding: 10px;
    cursor: move;
    z-index: 10;
    background: red; */
}

/* .item {
    width: 300px;
    height: 150px;
    background-color: transparent;
    touch-action: none;
    user-select: none;
} */
  .item:hover {
    cursor: pointer;

  }
/* ================== */

#textarea {
    background: transparent;
 border: none;
position: relative;
width: 280px;
height: 180px;
padding: 100px;
}



.fa-search{
    font-size: small;
    color: whitesmoke;
}

.search-bar{
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px grey;
    width: 250px;
}
.font{
    color: rgb(255, 255, 255);
    margin: 50px;
    list-style: none;
    font-weight: 700;
    font-size: x-large;
}

#monospace {

    font-family: 'Courier New', Courier, monospace;
}

#arial {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#verdana {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#georgia {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#fantasy {
    font-family: fantasy;
}

#cursive {
    font-family: cursive;

}

#calibri {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tahoma {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.color {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}

.color-options{
    padding-top: 300px;
    padding-right: 100px;
    padding-left: 45px;
}

.one {
    background: black ;
}
.two {
    background: rgb(49, 47, 47);
}

.three {
    background: rgb(114, 114, 114) ;
}

.four {
    background:rgb(172, 172, 172) ;
}

.five {
    background: rgb(255, 255, 255);
}
.six {
    background: rgb(112, 2, 2);
}
.seven {
    background: rgb(253, 78, 78);
}
.eight {
    background: pink;
}
.nine {
    background:palevioletred ;
}
.ten {
    background:violet ;
}
.eleven {
    background: blueviolet;
}
.twelve {
    background: rgb(0, 102, 92);
}
.thirteen {
    background: rgb(12, 158, 143);
}
.fourteen {
    background: turquoise;
}
.fifteen {
    background: rgb(65, 146, 221);
}
.sixteen {
    background: rgb(8, 83, 196) ;
}
.seventeen {
    background: rgb(0, 0, 170) ;
}
.eighteen {
    background: rgb(1, 59, 1);
}
.ninteen {
    background:green ;
}
.twenty {
    background: rgb(70, 156, 70);
}
.t-one {
    background:rgb(96, 129, 46) ;
}
.t-two {
    background:yellow ;
}
.t-three {
    background:orange;
}
.t-four {
    background:red ;
}