<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../Styles/editor.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  

    <title>Visual Business Cards</title>
</head>

<body onload="move('textarea')">

    <section class="header">
        <nav>
            <p id="logo">InRoom Preview</p>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="../Templates/index.html">HOME</a></li>
                    <li><a href="../Templates/index.html">HOW IT WORKS</a></li>
                    <li><a href="../Templates/index.html">ABOUT US</a></li>
                    <li><a href="../Templates/index.html">CONTACT</a></li>
                    <li><a href="../Templates/index.html">JOIN US</a></li>
                    <li><a href="#">CREATE NOW</a></li>
                </ul>
            </div>
            <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>


        <!-- =================================    EDITOR     ===================================== -->

        <div class="editor">
            <div class="box">
                <div class="menu">
                    <ul>
                        <li id="templates"> <i class="fas fa-images"></i> <br> TEMPLATES</li>
                        <li id="information"> <i class="fas fa-spell-check"></i> <br> INFORMATION</li>
                        <li id="code-qr"> <i class="fas fa-qrcode"></i> <br> QR CODE</li>
                        <li> <i class="fas fa-download"></i> <br> DOWNLOAD</li>
                        <li> <a class="contact-link" target="_blank"
                                href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCKCFSrsRzDcjGXbgtpPSqbjQPTMNRzsSTDTvKtPstszSSTdDfJjXCcsDJGGnHzbllPXBXVV">
                                <i class="fas fa-phone-alt"> </i> <br> CONTACT US </a> </li>
                    </ul>
                </div>
                <div class="menu-options">
                    <div class="templates-options">
                        <label id="label" for="templates">Choose a template:</label>
                        <br>
                        <select id="templates-select" onchange="changeTemplates()">
                           
                            <option class="option-template" value="photographer">Photographer</option>
                            <option class="option-template" value="artist">Artist</option>
                        </select>

                        <div class="template-images">

                            <div id="contain1">
                                <img src="../Images/template1.png" alt="template1" class="t artist" id="template1">
                                <div class="middle">
                                <input type="button" value="Click to edit" id="imagesButton1">
                               </div></div>

                               <div id="contain2">
                                <img src="../Images/template2.png" alt="template2" class="t artist" id="template2">
                                <div class="middle">
                                <input type="button" value="Click to edit" id="imagesButton2">
                               </div></div>

                               <div id="contain3">
                                <img src="../Images/template3.png" alt="template3" class="t artist" id="template3">
                                <div class="middle">
                                <input type="button" value="Click to edit" id="imagesButton3">
                               </div></div>

                            

                             <div id="contain4">
                                <img src="../Images/template4.png" alt="template4" class=" t photographer" id="template4">
                                <div class="middle">
                                <input type="button" class="text" value="Click to edit" id="imagesButton4">
                               </div></div>
                            <img src="../Images/template5.png" alt="template5" class="t photographer">
                            <img src="../Images/template6.png" alt="template6" class="t photographer">
                        </div>
                    </div>

                    <div class="information-options">
                        <div class="font-options">
                            <i class="fas fa-search"></i><input type="search" placeholder="Search font"
                                class="search-bar">
                            <ul>
                                <li id="monospace" class="font">Monospace</li>
                                <li id="arial" class="font">Arial</li>
                                <li id="georgia" class="font">Georgia</li>
                                <li id="fantasy" class="font">Fantasy</li>
                                <li id="cursive" class="font">Cursive</li>
                                <li id="calibri" class="font">Calibri</li>
                                <li id="tahoma" class="font">Tahoma</li>
                                <li id="impact" class="font">Impact</li>
                                <li id="trebuchet" class="font">Trebuchet</li>
                            </ul>
                        </div>

                        <div class="color-options">

                            <table>
                                <tr>
                                    <td>
                                        <div class="color one"></div>
                                    </td>
                                    <td>
                                        <div class="color two"></div>
                                    </td>
                                    <td>
                                        <div class="color three"></div>
                                    </td>
                                    <td>
                                        <div class="color four"></div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="color five"></div>
                                    </td>
                                    <td>
                                        <div class="color six"></div>
                                    </td>
                                    <td>
                                        <div class="color seven"></div>
                                    </td>
                                    <td>
                                        <div class="color eight"></div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="color nine"></div>
                                    </td>
                                    <td>
                                        <div class="color ten"></div>
                                    </td>
                                    <td>
                                        <div class="color eleven"></div>
                                    </td>
                                    <td>
                                        <div class="color twelve"></div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="color thirteen"></div>
                                    </td>
                                    <td>
                                        <div class="color fourteen"></div>
                                    </td>
                                    <td>
                                        <div class="color fifteen"></div>
                                    </td>
                                    <td>
                                        <div class="color sixteen"></div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="color seventeen"></div>
                                    </td>
                                    <td>
                                        <div class="color eighteen"></div>
                                    </td>
                                    <td>
                                        <div class="color ninteen"></div>
                                    </td>
                                    <td>
                                        <div class="color twenty"></div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="color t-one"></div>
                                    </td>
                                    <td>
                                        <div class="color t-two"></div>
                                    </td>
                                    <td>
                                        <div class="color t-three"></div>
                                    </td>
                                    <td>
                                        <div class="color t-four"></div>
                                    </td>

                                </tr>

                            </table>



                        </div>

                    </div>

                    <div class="qr-code-options">
                        <p class="paragraph">Enter the address which the QR code will lead to : </p>
                        <input type="text" id="qr-link" placeholder="URL link">

                        <p class="paragraph">Set colors :</p>
                        <p class="paragraph">Color :</p>
                        <input type="color">
                        <p class="paragraph">Background :</p>
                        <input type="color">
                        <p class="paragraph">Design :</p>
                        <div>
                            <p class="paragraph">Body shape :</p>
                            <div class="qr-code-icons">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                            </div>
                            <p class="paragraph">Frame shape :</p>
                            <div class="qr-code-icons">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                            </div>
                            <p class="paragraph">Ball shape :</p>
                            <div class="qr-code-icons">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                                <img src="../Images/QR_icon.svg.png" alt="icon">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <p class="paragraph card">YOUR CARD :</p>
            <div id="create"></div>


            <div class="text-Options">
                <input type="button" class="choose-font" value="Choose font">
                <input class="change-size" type="button" value="+" onclick="increaseFontSizeBy100px()">
                <input type="text" value="" class="size-value">
                <input class="change-size" type="button" value="-" onclick="decreaseFontSizeBy100px()">

                <a href="#"><i class="fas fa-fill-drip"></i></a>
                <a href="#"><i class="fas fa-bold"></i></a>
                <a href="#"><i class="fas fa-italic"></i></a>
                <a href="#"><i class="fas fa-underline"></i></a>
                <a href="#"><i class="fas fa-align-right"></i></a>
                <a href="#"><i class="fas fa-font-case"></i></a>
            </div>

            

                <!-- <div id="textarea-div">
                    <div id="textarea-div2">
                        <textarea class="item" id="textarea"></textarea>
                        <script>
                            var dragItem = document.querySelector(".item");
                            var container = document.querySelector("#textarea-div2");

                            var active = false;
                            var currentX;
                            var currentY;
                            var initialX;
                            var initialY;
                            var xOffset = 0;
                            var yOffset = 0;

                            container.addEventListener("touchstart", dragStart, false);
                            container.addEventListener("touchend", dragEnd, false);
                            container.addEventListener("touchmove", drag, false);

                            container.addEventListener("mousedown", dragStart, false);
                            container.addEventListener("mouseup", dragEnd, false);
                            container.addEventListener("mousemove", drag, false);

                            function dragStart(e) {
                                if (e.type === "touchstart") {
                                    initialX = e.touches[0].clientX - xOffset;
                                    initialY = e.touches[0].clientY - yOffset;
                                } else {
                                    initialX = e.clientX - xOffset;
                                    initialY = e.clientY - yOffset;
                                }

                                if (e.target === dragItem) {
                                    active = true;
                                }
                            }

                            function dragEnd(e) {
                                initialX = currentX;
                                initialY = currentY;

                                active = false;
                            }

                            function drag(e) {
                                if (active) {

                                    e.preventDefault();

                                    if (e.type === "touchmove") {
                                        currentX = e.touches[0].clientX - initialX;
                                        currentY = e.touches[0].clientY - initialY;
                                    } else {
                                        currentX = e.clientX - initialX;
                                        currentY = e.clientY - initialY;
                                    }

                                    xOffset = currentX;
                                    yOffset = currentY;

                                    setTranslate(currentX, currentY, dragItem);
                                }
                            }

                            function setTranslate(xPos, yPos, el) {
                                el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
                            }
                        </script> -->

                    
                </div>
            </div>
        </div>



    </section>


    <!-- ======================================      FOOTER       ============================================ -->

    <footer>
        <div class="footer-content">
            <h3>InRoom Preview</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi optio tempora pariatur aperiam
                officiis, aliquid illum non quam est
                magnam impedit nulla perferendis quos eveniet unde eaque dolorum exercitationem.</p>
        </div>
        <ul class="socialas">
            <li><a href="https://www.facebook.com/inroompreview/"><i class="fab fa-facebook"> &nbsp; Facebook</i></a>
            </li>
            <li><a href="https://www.instagram.com/inroompreview/"><i class="fab fa-instagram"></i>&nbsp;Instagram</a>
            </li>
            <li><a href="https://www.linkedin.com/company/inroompreview/about/"><i
                        class="fab fa-linkedin-in"></i>&nbsp;Linkedin</a></li>
        </ul>
        <br><br>
        <div class="footer-bottom">
            <p>Copyright &copy;2021 InRoom Preview</p>
        </div>
    </footer>



    <script>
        let navLinks = document.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="../Scripts/editor.js"></script>


</body>

</html>